.square {
  float: left;
  border: 1px solid grey;
  height: 15px;
  width: 15px;
  text-align: center;
  padding-bottom: 1px;
  font-size: 1em;
}

.square-row {
  display: inline-block;
}

.action {
  cursor: pointer;
}

.action:hover {
  transition:transform 0.3s ease-out;
  transform:scale(2);
}

.red {
  background: red;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.black {
  background: black;
}
